@page {
    margin: 100px 25px;
}
header {
    position: fixed;
    top: -60px;
    left: 0px;
    right: 0px;
    height: 50px;
    margin-bottom: 50px;
    text-align: left !important;
}
.title {
    margin-top: -70px;
    margin-left: 80px;
}
footer {
    position: fixed;
    bottom: -30px;
    left: 0px;
    right: 0px;
    height: 20px;
}
p {
    page-break-after: always;
}
p:last-child {
    page-break-after: never;
}
body {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}
.liquidacion {
    font-size: 18px;
    text-align: left !important;
}
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
    padding: 5px;
}
.alinear-derecha {
    text-align: right;
}
